:root {
    --primary-color: #4285F4;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

h1 {
    color: var(--primary-color);
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 18px;
}

.btn {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 10px;
    padding: 7px 25px;
    font-size: 20px;
    border: #5fbaa7;
}

.button:hover {
    background-color: var(--primary-color)
}

.btn:active {
    background-color: var(--primary-color);
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

.money-img {
    width: 25%;
}

.currency {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#line {
    border: none;
    border-bottom: 3px solid var(--primary-color);
    width: 20%;
    margin: auto;
}

.currency input {
    border: 0;
    background: transparent;
    font-size: 30px;
    text-align: right;
}

.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    color: var(--primary-color);
    font-size: 20px;
    padding: 0 10px;
}

select {
    width: 70px;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

select:focus,
input:focus,
button:focus {
    outline: 0;
}

@media (max-width: 1000px) {
    .currency input {
        width: 200px;
    }

    .money-img {
        width: 400px;
    }
}